apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: media

resources:
  - namespace.yaml
  - pvc.yaml
  - deployment.yaml
  - service.yaml
  - middleware.yaml
  - certificate.yaml
  - ingressroute.yaml

commonLabels:
  app.kubernetes.io/name: tautulli
  app.kubernetes.io/managed-by: argocd
