traefik:
  service:
    type: LoadBalancer
    annotations:
      metallb.universe.tf/loadBalancerIPs: "192.168.100.102"
  ports:
    web:
      expose:
        default: true
    websecure:
      tls:
        enabled: true
  additionalArguments:
    - "--providers.kubernetesingress.ingressclass=traefik"
    - "--serverstransport.insecureskipverify=true"
    - "--entryPoints.web.http.redirections.entryPoint.to=websecure"
    - "--entryPoints.web.http.redirections.entryPoint.scheme=https"
    - "--entryPoints.web.http.redirections.entryPoint.permanent=true"
