traefik:
  service:
    type: LoadBalancer
    annotations:
      metallb.universe.tf/loadBalancerIPs: "192.168.100.102"
  ports:
    web:
      expose:
        default: true
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
    websecure:
      tls:
        enabled: true
  additionalArguments:
    - "--providers.kubernetesingress.ingressclass=traefik"
    - "--serverstransport.insecureskipverify=true"
