traefik:
  service:
    type: LoadBalancer
    annotations:
      metallb.universe.tf/loadBalancerIPs: "192.168.100.102"
  ports:
    web:
      redirectTo:
        port: websecure
    websecure:
      tls:
        enabled: true
  additionalArguments:
    - "--providers.kubernetesingress.ingressclass=traefik"
    - "--serverstransport.insecureskipverify=true"
