kyverno:
  admissionController:
    replicas: 1
  backgroundController:
    replicas: 1
  cleanupController:
    replicas: 1
  reportsController:
    replicas: 1
  cleanupJobs:
    admissionReports:
      image:
        registry: registry.k8s.io
        repository: kubectl
        tag: "v1.30.2"
    clusterAdmissionReports:
      image:
        registry: registry.k8s.io
        repository: kubectl
        tag: "v1.30.2"

kyverno-policies:
  enabled: true
  podSecurityStandard: restricted
  validationFailureAction: Audit
  cleanupJobs:
    admissionReports:
      image:
        registry: registry.k8s.io
        repository: kubectl
        tag: "v1.30.2"
    clusterAdmissionReports:
      image:
        registry: registry.k8s.io
        repository: kubectl
        tag: "v1.30.2"
