kyverno:
  admissionController:
    replicas: 1
  backgroundController:
    replicas: 1
  cleanupController:
    replicas: 1
  reportsController:
    replicas: 1
  cleanupJobs:
    admissionReports:
      enabled: false
    clusterAdmissionReports:
      enabled: false

kyverno-policies:
  enabled: true
  podSecurityStandard: restricted
  validationFailureAction: Audit
  cleanupJobs:
    policyReports:
      enabled: false
    clusterPolicyReports:
      enabled: false
