kyverno:
  admissionController:
    replicas: 1
  backgroundController:
    replicas: 1
  cleanupController:
    replicas: 1
  reportsController:
    replicas: 1

kyverno-policies:
  enabled: true
  podSecurityStandard: restricted
  validationFailureAction: Audit
